/* ================= plist =============== */

.ul-container {
  margin-top: 2em;
}

.toggle {
  margin-top: 1em;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.toggle-switch {
  color: var(--Light-Gray);
}